/* -------------- For index.html -------------- */

#external-para {
    color: tomato;
}

/* -------------- Universal Selector -------------- */
body {
    background-color: rgb(41, 41, 41);  
}
h3 {
    color: white;
}

/* -------------- For colors.html -------------- */

#p1{
    color: tomato;   /* color name */
}
#p2{
    color: rgb(102, 222, 255);   /* rgb value */
}
#p3{
    color: #59ff5f;  /* hex value */
}
#p4{
    color: hsl(266, 79%, 63%);   /* hsl value */
} 


/* -------------- For fonts.html -------------- */
#heading-font{
    font-family: Montserrat,Verdana, Arial;
    color: white;
}

#paragraph-font{
    font-family:  'Roboto','lucida console', 'courier new';
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    color: turquoise;
}


/* -------------- For border.html -------------- */
#border-h1{
    border: 5px solid hsl(39, 100%, 50%);
    border-radius: 10px;
}

#border-p{
    border-bottom: 3px dashed rgb(153, 0, 255);
    border-top: 3px groove rgb(0, 255, 255);
    border-left: 3px dotted #ff00ff;
    border-right: 3px ridge tomato;

    border-radius: 15px;
}

/* -------------- For shadow.html -------------- */
#shadow-h1{
    text-shadow: 2px 2px 5px rgb(226, 27, 126), -2px -2px 5px rgb(27, 226, 133);
}

#shadow-div{
    width: 200px;
    height: 100px;
    background-color: rgb(126, 125, 125);
    box-shadow: 5px 5px 15px rgb(27, 133, 226), -5px -5px 15px rgb(133, 27, 226);
}

/* -------------- For margin.html -------------- */
/* applying CSS to class */
.m-box{ 
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}
/* applying CSS to id */
#m-box1{
    background-color: hsl(0, 90%, 69%);
    margin-left: 100px;
}
#m-box2{
    background-color: hsl(197, 90%, 69%);
    margin-top: 50px;
    margin-left:auto;
}

/* -------------- For float.html -------------- */

#f-img1{
    float: left;
    margin-right: 10px;
}
#f-img2{
    float: right;
    margin-right: 30px;
}
